<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>joshuva</title>
</head>
<body>
    <style>
        .heading{
    background: #6c757d;
    background: -webkit-linear-gradient(#6c757d, #ffffff);
    text-align: center;
    text-shadow: 2px 2px #6c757d;
    color: #ffffff;
}
  
  
.f{
  margin: auto;
  width: 50%
}
.b{
  margin: auto;
  text-align: center;
}
    </style>
    <nav class="navbar navbar-dark bg-secondary">
        <a class="navbar-brand" href="">Joshuva's Webapp</a>
    </nav>

    <form method="post">
        {% csrf_token %}
        <div class="f">
            <div class="form-group">
                <label for="exampleInputEmail1">video url:</label>
                <input type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="videourl">
                <small id="emailHelp" class="form-text text-muted">Past the youtube video url.</small>
            </div>
        </div>
        <div class="b">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <h1>Notification will display after video downloaded</h1>

    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-success">
        {{msg}}
    </div>
    {% endfor %}
    {% endif %}










    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>