.heading{
    background: #6c757d;
    background: -webkit-linear-gradient(#6c757d, #ffffff);
    text-align: center;
    text-shadow: 2px 2px #6c757d;
    color: #ffffff;
}
  
  
.f{
  margin: auto;
  width: 50%
}
.b{
  margin: auto;
  text-align: center;
}